li.note{
	width: 100%;
	border-bottom: solid 1px #A9A9A9;
	font-size: 0.8rem;
	padding: 0.5rem 0;
	position: relative;
	display: inline-block;	
	box-sizing: border-box;

	&.active{
		background: #E8E8E8;
		padding-left: 0.5rem;

		.context{
			opacity: 1;
			.close{
				color: red;
			}
			.edit{
				margin-right: 0.1rem;
			}
		}
	}

	.context{
		position: absolute;
		right: 0;
		opacity: 0;
		height: 100%;
		top: 0;
		margin-right: 0.1rem;
		transition: opacity 0.5s ease;
		display: flex;
		justify-content: center;
		align-items: center;

		div{
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 2rem;
			background: #DFDFDF;
		}
	}
}